<div class="row">
    <div class="col-12">
    <h1 >Educacion:</h1>
    </div>
    
    <div class="col-lg-2" id="nueva">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educacion
        </button>
    </div>
    
   
     <div class="table-responsive">
    <table class="table col-sm-4 col-md-6 col-lg-10">
        <tbody>
            <tr *ngFor="let Educacion of educ">
                <td><h4>{{Educacion.nombreEdu}}</h4></td>
                <td>{{Educacion.descripcionEdu}}</td>
                <td> <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i> EDITAR</button>
                </td>
                <td>
                    <td> <button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged"><i class="bi bi-trash3-fill"></i> BORRAR</button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>
    
</div>

