
h1{
    padding-bottom: 50px;
    margin: 0 0 0 0;
    text-align: center;
   
}
.row{
    padding: 90px;
    background-color: #a1b5cb;
    margin: 0 0 0 0;
    
}
.container{
    width: auto;
}


    
    


