.div{
    background-color: #a1b5cb;
}


.row{
margin: 5% 0 0 35%;
padding-left: 0%;
padding-right: 35%;

}

.form{
    padding-top: 3%;
    padding-bottom:3%;
    width: 100%;
}
.imagen{
    margin-left: 28%;
}



label{
    font-weight: bolder;
    text-align: center;
    margin-left: 35%;
}
button{
    margin-left: 25%;
    margin-top: 2%;
}

html{
    background-color: #a1b5cb;
    height: auto;
    width: auto
}